@import url(http://fonts.googleapis.com/css?family=Sonsie+One|Ranchers|Henny+Penny|Griffy|Peralta|Ewert);

body {
  background: black;
  color: white;
}

header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Ewert', cursive;
  font-size: 50pt;
  font-weight: normal;
  color: #ccf;
  text-shadow: 0px 0px 50px white;
}

#background {
  position: absolute;
  top: 100px;
  left: 5px;
  width: 98%;
  height: 500px;
  margin: 5px;
  border: solid 1px black;
  border-radius: 5px;
  background: url('../images/background.jpg');
  background-repeat: repeat-x;
}

#foreground {
  position: absolute;
  top: 100px;
  width: 10000px;
  height: 500px;
  margin: 5px;
}

#horse {
  position: absolute;
  width:  100px;
  height: 100px;
  top: 450px;
  left: 200px;
  background: url('../images/unicorn.gif') no-repeat;
}

#credits {
  position: absolute;
  top: 600px;
  font-family: 'Peralta', cursive;
  margin: 10px;
  color: white;
}

